# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Django
db.sqlite3          # local dev DB
*.log
media/              # user uploads (better use cloud storage)

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
*.env
